.saludo {
  background-color: rgba(0, 0, 0, 0.745);
  padding: 10px 20px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
